<div class="prose">

<h1 class="font-bold text-4xl">About the We are W&ADS Web Application</h1>
<article>
<p> The  We are W&ADS web application was created in the summer of 2022 by a team comprising Dave Chmura and two interns, Henry Teng and Debbie Shih using Ruby on Rails and TailwindCSS.</p>

    <p>“The first assignment Dave assigned us was an exercise called ‘Meet the Team’, where we had a 30-minute interview with each member of the W&ADS team. We found out a lot of interesting details about each person, such as how they came to be at U-M, their hobbies, some unique facts, and more. At first, I thought it was a way for us to get to know and connect with everyone, but we later realized that we were gathering information to help create a web application.”</p>
    
<p>Despite supporting and providing technical expertise for hundreds of LSA websites, there wasn’t a website dedicated to the W&ADS team.</p>
    <p> “When I first found out that I got the internship, I wanted to find out more about W&ADS. I was eager to find out more about countless things: who my supervisor was, what kind of projects the team worked on (so that I could get a better sense of what I’d be doing during the summer), and what the culture was like. However, their internet presence existed in the form of a small subpage on the LSA Technology Services page (https://lsa.umich.edu/technology-services/people/web-and-application-development-services.directory.html), which didn’t give me the greatest idea of what the team I would be working with for the next three months was like.”
<p>All of it led to the creation of this website, where questions such as:</p>
    <ul> 
      <li> What is W&ADS</li>
      <li> Who is on the team and what are their backgrounds, roles, and responsibilities?</li>
      <li> What technologies do they work with</li>
    </ul>
and more are hopefully answered. However, it is also meant to serve as a place to highlight the impactful work that is being done here and the crucial role W&ADS plays in ensuring that everything runs smoothly within LSA.</p>


</article>
</div>
