
<h1 class="font-bold text-4xl">The WA&DS Team</h1>

<hr class="mt-2">

<div class="mt-8 justify-center mx-auto grid gap-5 md:grid-cols-3 lg:grid-cols-3 lg:max-w-none xl:grid-cols-4">
    <%- 10.times do %>
      <%= render 'card' %>
    <% end %>

    
</div >