@tailwind base;
@tailwind components;
@tailwind utilities;

/* missing_alt_tags */
body[data-environment="development"] img[alt=""], body[data-environment="development"] img:not([alt]) {
  @apply border-4 border-red-700 border-dotted p-2; }

.skip-to-content-link{
  @apply sr-only font-bold text-2xl text-white focus-visible:not-sr-only focus-within:bg-green-700 relative self-center flex justify-center focus-within:p-5 focus-within:underline; }